:80 {
    root * /var/www/mspguild/public
    encode zstd gzip

    try_files {path} {path}/index.php index.php

    php_fastcgi mspguild-php:9000

    file_server
    header X-Backend "mspguild-caddy"

    log {
            output stdout
        }
}
